{% extends 'layout/layout_master.html'%}
<!-- Grid Start -->
{% block content %}
<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Pacientes</h6>
        <p><span><strong>Fecha:</strong>{{ fecha }}</span></p>
        {% if messages %}
        {% for message in messages %}
        <div class="message">
            {{ message}}
        </div>
         
        {% endfor  %}
        {% endif %} 
        <form method="POST" action="{% url 'admision_paciente' %}" >
            {% csrf_token %}
            <div class="col-sm-12 col-xl-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtBuscar" name="txtBuscar"  >
                    <label for="txtBuscar">Ingrese numero de identificación</label>
                </div>
            </div> 
            <div class="col-sm-12 col-xl-6">   
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>               
        </form>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Identificación</th>
                        <th scope="col">Primer Nombre</th>               
                        <th scope="col">Segundo Nombre</th>                         
                        <th scope="col">Apellido Paterno</th>                                    
                        <th scope="col">Apellido Materno</th>                                                            
                        <th scope="col">Hora</th>                        
                        <th scope="col">Nombre Doctor</th>                                               
                        <th scope="col">Apellido Doctor</th>   
                        <th scope="col"></th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for list_Pacientes in listPacientes %}
                    <tr>
                       
                        <th scope="row">{{list_Pacientes.id_paciente}} </th>
                        <td>{{list_Pacientes.numero_identificacion}}</td>
                        <td>{{list_Pacientes.nombre1}}</td>                        
                        <td>{{list_Pacientes.nombre2}}</td>                        
                        <td>{{list_Pacientes.apellido_paterno}}</td>                        
                        <td>{{list_Pacientes.apellido_materno}}</td>                                                
                        <td>{{list_Pacientes.descripcion}}</td>
                        <td>{{list_Pacientes.nombreDoctor}}</td>                                                                                        
                        <td>{{list_Pacientes.apellidosDoctor}}</td>
                        <td><a href='{% url 'consultar_imagen' list_Pacientes.id_paciente list_Pacientes.id_cita %}'>Admitir</a></td>
                        
                    </tr>
                    {% endfor  %}
                </tbody>
            </table>
        </div>
   

    </div>
</div>

<!-- Grid End -->

{% endblock %}